/*
 * ---------    Components    ---------
 */

    // Navigation
        .nav {
            &__main {
                font-size: 15px;
                height: 80px;
                background-color: $color__leading;
                display: flex;
                justify-content: flex-start;
                align-items: center;
            }
            &__list {
                width: 100%;
                max-width: 900px;
                margin: auto;
                list-style: none;

                display: flex;
                justify-content: flex-end;
            }
            &__item {
                border-right: 2px solid $color__leading-3;
                &:nth-last-of-type(1) {
                    border-right: none;
                }
            }
            &__link {
                display: block;
                padding: 15px 25px;
                font-weight: $medium;
                color: $color__white;
                transition-property: background-color;
                transition-duration: 0.2s;
                transition-timing-function: ease-in-out;
                &:hover,
                &--active {
                    background-color: $color__leading-3;
                }
                &--user {
                    &:hover {
                        background-color: transparent;
                    }
                }
            }
        }

        @media (max-width: 576px) {
            .nav {
                &__item {
                    flex-grow: 1;
                }
                &__link {
                    padding: 10px 0;
                    text-align: center;
                    width: 100%;
                }
            }
        }

    // Button
        button {
            font-size: 1em;
            letter-spacing: 2px;
            background-color: transparent;
            color: $color__leading;
            border: 2px solid $color__leading;
            border-radius: 30px;
            padding: 15px 45px;
            box-shadow: -2px 2px 10px rgba(0, 0, 0, 0);
            cursor: pointer;
            overflow: hidden;
            position: relative;
            transition-property: color, box-shadow;
            transition-duration: 0.25s;
            transition-timing-function: ease-in-out;
            i {
                margin-left: 20px;
            }
            &::before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                bottom: 0;
                width: 0;
                background-color: $color__leading;
                z-index: -1;
                transition-property: width;
                transition-duration: 0.25s;
                transition-timing-function: ease-in-out;
            }
            &:hover::before {
                width: 100%;
            }
            &:hover {
                color: $color__white;
                box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.5);
            }
        }

    // Form
        .form-wrapper {
            width: 100%;
            max-width: 500px;
        }
        .form {
            text-align: center;
            padding-bottom: 3em;
            &__group {
                padding-bottom: 20px;
                &--button {
                    padding-top: 30px;
                }
                // Input
                .input {
                    font-size: 0.9em;
                    letter-spacing: 2px;
                    background-color: transparent;
                    color: $color__grey-2;
                    border: 2px solid $color__grey;
                    border-radius: 30px;
                    padding: 15px 35px;
                    &:focus,
                    &:active {
                        border: 2px solid $color__leading;
                    }
                    &--task {
                        position: relative;
                        background-color: $color__white;
                        z-index: 1;
                        &-btn {
                            margin-left: -70px;
                            font-size: 0.9em;
                            z-index: 0;
                            background-color: $color__leading;
                            color: $color__white;
                            cursor: pointer;
                            &::before {
                                background-color: $color__leading-2;
                            }
                            &:hover {
                                box-shadow: none;
                            }
                            i {
                                margin: 0;
                                padding-left: 50px;
                            }
                        }
                    }
                }
            }
        }
        .desc {
            display: inline-block;
            font-size: 0.8em;
            letter-spacing: 1px;
            color: $color__grey;
            &:hover {
                color: $color__grey-2;
            }
            &__info {
                max-width: 320px;
                font-size: 1em;
                line-height: 1.3;
                margin-bottom: 30px;
                color: $color__grey-2;
            }
        }
        .footer {
            padding-top: 1em;
            border-top: 1px solid $color__grey-3;
        }

    // Header
        .header {
            border-bottom: 1px solid $color__grey-3;
            padding-bottom: 1em;
            margin-bottom: 3em;
            letter-spacing: 3px;
            color: $color__leading-3;
            i {
                margin-left: 75px;
            }
        }

    // Popup
        .popup {
            position: fixed;
            top: 50%;
            left: 50%;
            min-height: 200px;
            min-width: 400px;
            transform: translate(-50%, -65%);
            padding: 45px 50px;
            border-radius: 20px;
            text-align: center;
            background-color: $color__white;
            box-shadow: -5px 0 25px rgba(0, 0, 0, 0.3);
            z-index: 90;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            color: $color__leading;
            font-size: 1.15em;
            font-weight: $medium;
            letter-spacing: 2px;
            &__title {
                width: 100%;
                display: block;
            }
            // animation
            transform: translate(-50%, -50%);
            animation: popupFadeIn 0.5s;
            @keyframes popupFadeIn {
                from {
                    transform: translate(-50%, -100%);
                    opacity: 0;
                } to {
                    transform: translate(-50%, -50%);
                    opacity: 1;
                }
            }
            &__overlay {
                position: fixed;
                top: 0;
                left: 0;
                bottom: 0;
                right: 0;
                background-color: rgba(0, 0, 0, 0.85);
                z-index: 89;
    
                // animation
                animation: overlayDadeIn 0.5s;
                @keyframes overlayDadeIn {
                    from {
                        opacity: 0;
                    } to {
                        opacity: 1;
                    }
                }
            }
            &__close {
                position: absolute;
                top: 0;
                right: 0;
                padding: 10px;
                margin: 5px 10px;
                font-size: 1.3em;
                cursor: pointer;
            }
            &__buttons {
                display: block;
                width: 100%;
                margin-top: 45px;
            }
            &__button {
                display: inline-block;
                width: 50%;
                padding: 15px;
                color: $color__grey;
                cursor: pointer;
                font-size: 0.9em;
                &:nth-of-type(1) {
                    border-right: 2px solid $color__leading;
                }
                &:hover {
                    color: $color__leading;
                }
            }
        }

    // Images SVG
        .svg {
            width: 100%;
            &__sign-in {
                width: 75%;
            }
        }

        @media (max-width: 576px) {
            .svg {
                &__start-page {
                    opacity: 0.5;
                }
            }
        }

    // Section
        .section {
            &--list {
                padding: 4em 0;
            }
            &--tasks {
                padding: 1em 0;
                min-height: 50vh;
            }
        }

    // Task
        .task {
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid;
            font-size: 1.2em;
            padding: 10px 20px;
            color: $color__grey;
            letter-spacing: 1px;
            box-shadow: -2px 2px 10px rgba(0, 0, 0, 0);
            transition-property: box-shadow;
            transition-duration: 0.25s;
            transition-timing-function: ease-in-out;
            animation: 0.5s taskFadeIn both ease-in-out;
            cursor: pointer;
            @keyframes taskFadeIn {
                from {
                    opacity: 0;
                }to {
                    opacity: 1;
                }
            }
            &:hover {
                box-shadow: -2px 2px 10px rgba(0, 0, 0, 0.2);
            }
            &__span {
                margin-right: 15px;
            }
            &__icon {
                &:nth-of-type(1):hover {
                    color: $color__warning;
                }
                &:nth-of-type(2):hover {
                    color: $color__success-3;
                }
            }
            &--todo {
                background-color: transparent;
                border-bottom-color: $color__grey-3;
            }
            &--done {
                color: $color__dark;
                background-color: $color__success;
                border-bottom-color: $color__success-2;
            }
            &__icons {
                display: flex;
            }
            &__icon {
                padding: 0 10px;
                cursor: pointer;
            }
        }